/*.table .caption {
    caption-side: top;
}
*/

.figure-like {
    text-align: center;
}


.mathbook-content .sbspanel {
    padding-top: 1.25em;
}


.svg-and-links {
    margin:auto; display:inline-block; width: 100%; min-width: 220px; 
}


.sidebyside .svg-and-links {
    width: 100%; min-width:inherit;
}


.image-links {
    display:table; margin:auto; text-align:center;
}

.image-link-list {
    list-style: outside none none; margin: 0; padding: 0;
}

.image-link-item  {
    float:left;
}

.image-link  {
    display: block; padding-left: 0em; padding-right: 1em; font-family: monospace;
}

.mathbook-content a:link {
    background-image:none;
}

.knowl .image-links {
    visibility: collapse;
}

.geogebra {
    border:0px;
}


