.table .caption {
    caption-side: top;
}

.mathbook-content .definition-like > .heading::after, .mathbook-content .theorem-like > .heading::after, .mathbook-content .remark-like > .heading::after, .mathbook-content .example-like > .heading::after, .mathbook-content .exercise-like > .heading::after, .mathbook-content .aside-like > .heading::after, .mathbook-content .definition-like > header > .heading::after, .mathbook-content .theorem-like > header > .heading::after, .mathbook-content .remark-like > header > .heading::after, .mathbook-content .example-like > header > .heading::after, .mathbook-content .exercise-like > header > .heading::after, .mathbook-content .aside-like > header > .heading::after {
    content: "";
}

.exercisegroup .exercise-like {
    margin-left: 5%;
}

.alert {
    font-weight: bold;
}
